{% extends "users/layout.html" %}

{% block title %}
    {{request.user.first_name}} @ home page
{% endblock %}

{% block body %}
    <h1>Welcome, {{request.user.first_name}}</h1>
    <ul>
        <li>Username: {{request.user.username}}</li>
        <li>Email: {{request.user.email}}</li>

        <h2>Flights Booked</h2>

    </ul>
    <div>{{request.user.last_name}}, upo ndani ya site sasa.</div>
    <div>
        <!--Add video here-->
        Mimi ni noma si noma?
    </div>

    <a href="{% url 'logout' %}">
        <button>Log Out</button>
    </a>

    <a href="{% url 'flights:index' %}">
        <button>Book a Flight</button>
    </a>
{% endblock %}